 //自訂checkbox

 .customCheckbox {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 32px;
    cursor:pointer;
    user-select:none;
}
// 隱藏瀏覽器預設checkbox樣式，原本框框整個消失
.customCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}
// 自訂checkbox樣式，會產生新的方匡灰底
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background: #eee;
    border-radius: 4px;
    // border:1px solid #00000060;
}
// 移到上面時，背景色變深
.customCheckbox:hover input ~ .checkmark{
    background-color: #ccc;
}
.customCheckbox input:checked ~ .checkmark{
    background: $primary;
}
.checkmark:after{
   content: '';
   position: absolute;
   display: none;
}
.customCheckbox input:checked ~ .checkmark:after{
   display: block;
}
.customCheckbox .checkmark:after{
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border:solid white;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg);
}