//swiper 套件 CSS 
//使用地方 index頁面

html,
body {
  position: relative;
  height: 100%;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
 
  text-align: left;
    //   font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;

  //top choice圖片寬度
  &--sW{
    width:240px!important;
    @include media-breakpoint-up(md) {
        width: 270px!important;
    }
    @include media-breakpoint-up(lg) {
        width: 255px!important;
    }
  }
  //get inspiration圖片寬度
  &--lW{
    width: 240px!important;
    @include media-breakpoint-up(md) {
        width: 210px!important;
    }
    @include media-breakpoint-up(lg) {
        width: 350px!important;
    }
  }
}

//左右選擇按鈕樣式
.swiper-button-next,.swiper-button-prev{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f1f0f8;
}
.swiper-button-next::after,.swiper-button-prev::after{
    color: #000;
    font-size: 8px!important;
    font-weight:900;
}
//top choice圖片高度
.pic--sH{
    height: 164px;
    @include media-breakpoint-up(md) {
        height:185px;
    }
    @include media-breakpoint-up(lg){
        height:175px;  
    }
}

// Get Inspiration 圖片高度
.pic--lH{
    height: 181px;
    @include media-breakpoint-up(md) {
        width: 158px;
    }
    @include media-breakpoint-up(lg){
        height:263px;  
    }
}
