// 背景圖 signup & login 頁面共用
.loginBg{
    @include media-breakpoint-up(md){
        position: absolute;
        background: url(https://images.unsplash.com/photo-1559321623-f0c2b0e82d3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
        top: 0;
        left:0;
        height: 100vh; 
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat; 
        z-index:-1;
    }
}
// login navbar

.customNavbar{
    z-index: 1;
}

.login{
    .loginText{
        @include media-breakpoint-up(lg){
            margin-top: 104px;
        }  
    }
    .loginForm{
        @include media-breakpoint-up(lg){
            margin-top: 105px;
        }
    }
}



// signup page
.signupText{
    @include media-breakpoint-up(lg){
        margin-top: 150px;
    }  
}