.resultSearchControl{
    border-radius: 8px;
   
    
    // 搜尋面板按鈕寬度
    .btnWd{
        width: 100%;
        padding: 1rem;
        background: #fff;
        
        @include media-breakpoint-up(lg){ 
            padding: 1rem 1rem 1.125rem 1rem;
        }
    }
    .btn-lg, .btn-group-lg > .btn {
        padding: 1rem 1rem;
        font-size: 1rem;
        border:0;
       
    }
    .btn-block{
        @include media-breakpoint-up(md){
            width: 14.45%;
            // height: 56px;
        }
    }
    .reportrange{
        border-radius: 4px;
        cursor: pointer; 
    }
    .dropdown-menu{
        width: 100%;
    }
    //改變show時的位置
    .dropdown-menu.show{
        transform: translate3d(0px, 65px, 0px)!important;
    }
    .city{
        padding-left: 24px;

    }
}
// range sider
.irs--round .irs-handle {
    top: 26px;
    width: 24px;
    height: 24px;
    border: 4px solid $primary;
    background-color:$primary;
    border-radius: 24px;
    box-shadow: 0 1px 3px rgba(0,0,255,0.3);
}
.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    font-size: 14px;
    line-height: 1;
    text-shadow: none;
    padding: 3px 5px;
    background-color: $primary;
    color: white;
    border-radius: 4px;
}
.irs--round .irs-bar {
    top: 36px;
    height: 4px;
    background-color: $primary;;
}
.irs-with-grid .irs-grid {
    display: none; 
}
// .irs--round.irs-with-grid {
//     height: 65px;
//     // width: 162px;
// }
.subscribe{
   input[type=text]{
        width: 100%;
        border:none;
        background: transparent;
        text-align: center;
        padding: 0;
   
    } 
}

.priceBtn1,.priceBtn2{
    background: $white;
    
}
.priceBtn1{
    border-right:3px solid $light;
 
}



.roomFilter a{
    padding: 15px 0;
    border-radius:0;
}
.recommendedCard{
    margin-right: -15px;
    margin-left: -15px;
    @include media-breakpoint-up(md){
       margin-right: 0;
       margin-left: 0;
    }
}

.roomCard{
    
    &.card-shadow{
        
        border-top:4px solid #f1f0f8;
        border-radius: 0;
       
    }
    .card-img{
        height:150px;
        object-fit: cover;
        border-radius:0;
        max-width: 150px;
       
        @include media-breakpoint-up(md){
            border-radius: 8px 0 0 8px;
            
        }
        @include media-breakpoint-up(lg){
            height:175px;
            max-width:200px;
        }
        @include media-breakpoint-up(xl){
            height:175px;
            max-width: 255px;
        }
        
        
    }
    .roomStyle{
            margin-bottom: 21px;
        }
    .roomStyle--change {
        margin-bottom: 8px;
        line-height: 1.1;
        
    }
      
    .badge{
        // line-height: 1.2;
        
        font-weight: normal;
        @include media-breakpoint-up(md){
            
            // padding: 2px 8px;
        }
        @include media-breakpoint-up(lg){
            padding: 4px 8px;
        }
    }
    .card-body{
        @include        media-breakpoint-up(xl){
        max-width: 475px;
        }
    }
    
}



// modal
.filterModal{
    .modal-title{
        font-size: .875rem;

    }
   .modal .modal-dialog{
        position: fixed;
        left:0;
        margin: auto;
        height: 100vh;
        transform: translate3d(0%, 0, 0);  
        width: 100vw;
    } 
    

}
.modal-footer{
        background: $secondary;

        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        padding:24px 15px;
        .filterBtn .btn{
           width: 48%;
           padding: 17px;
    
        }
    }
.sortDropDown{
    .dropdown-menu{
        width:80vw;
        border:none;
        border-radius: 8px;
    }

}
