.successTable{
    .table th{
        width: 25%;
        @include media-breakpoint-up(md){
            width: 27%;
        }
    }  
    .reserveBtn{
        @include media-breakpoint-up(md){
            width: 212px;
        }
        &.reserveBtn--s{
            @include media-breakpoint-up(md){
                width: 154px;
            }
        }
    }
}
